<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WTR.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WTR.Settings1>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWorkTime" serializeAs="String">
                <value />
            </setting>
            <setting name="PointX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PointY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetTime" serializeAs="String">
                <value>True</value>
            </setting>
        </WTR.Settings1>
    </userSettings>
</configuration>